/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.info {
    text-align: left;
}

h1 {
    font-size: 2em;
    color: #333;
}

hr {
    width: 80%;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
    color: #555;
}

/* Resizable Profile Image */
.profile-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
    width: 100px; /* Maximum width for larger screens */
}

/* Introduction Section */
.intro {
    margin-top: 30px;
}

.intro p {
    font-size: 1.1em;
    color: #444;
}

/* Contact Buttons */
.contact-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.contact-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.contact-buttons a:hover {
    background-color: #1c5980;
}
